<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="model_config">

  <xacro:macro name="link_template" params="name intertial_xyz intertial_rpy mass_value
  ixx ixy ixz iyy iyz izz visual_xyz visual_rpy mesh_filename
  ">
    <link name="${name}">
      <inertial>
        <origin xyz="${intertial_xyz}" rpy="${intertial_rpy}" />
        <mass value="${mass_value}" />
        <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}" />
      </inertial>
      <visual>
        <origin xyz="${visual_xyz}" rpy="${visual_rpy}" />
        <geometry>
          <mesh filename="${mesh_filename}" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="${visual_xyz}" rpy="${visual_xyz}" />
        <geometry>
          <mesh filename="${mesh_filename}" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>

  <xacro:macro name="joint_template" params="name type xyz rpy parent_link child_link axis_xyz lower upper effort velocity">
    <joint name="${name}" type="${type}">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent_link}" />
      <child link="${child_link}" />
      <axis xyz="${axis_xyz}" />
      <limit lower="${lower}" upper="${upper}" effort="${effort}" velocity="${velocity}" />
    </joint>
  </xacro:macro>

  <xacro:link_template name="base_link"
  intertial_xyz="0 0 0"
  intertial_rpy="0 0 0"
  mass_value="0.230625387437769"
  ixx="0.000397638701759869"
  ixy="3.72485292325441E-08"
  ixz="3.95689083442152E-07"
  iyy="0.000377909155069588"
  iyz="1.14903758060562E-06"
  izz="0.000669921803810015"
  visual_xyz="0 0 0"
  visual_rpy="0 0 0"
  mesh_filename="package://model_config/meshes/base_link.STL"
  />

  <xacro:link_template name="Link1"
  intertial_xyz="0 0 0"
  intertial_rpy="0 0 0"
  mass_value="1.0672662124327"
  ixx="0.00213823053280256"
  ixy="7.89344919991784E-07"
  ixz="-6.64292075174937E-07"
  iyy="0.00203272365399182"
  iyz="-5.72905036059312E-05"
  izz="0.00203864730057834"
  visual_xyz="0 0 0"
  visual_rpy="0 0 0"
  mesh_filename="package://model_config/meshes/Link1.STL"
  />

  <xacro:joint_template name="Joint1"
  type="revolute"
  xyz="0 0 0.1125"
  rpy="0 0 0"
  parent_link="base_link"
  child_link="Link1"
  axis_xyz="0 0 1"
  lower="-3.14"
  upper="3.14"
  effort="100"
  velocity="1"
  />

  <xacro:link_template name="Link2"
  intertial_xyz="0 0 -0.048"
  intertial_rpy="0 0 0"
  mass_value="2.85311721697769"
  ixx="0.00522538010252365"
  ixy="-1.56998766397489E-06"
  ixz="-1.65659439430173E-07"
  iyy="0.00998453368426239"
  iyz="1.41752496270541E-07"
  izz="0.00994260642816178"
  visual_xyz="0 0 -0.048"
  visual_rpy="0 0 0"
  mesh_filename="package://model_config/meshes/Link2.STL"
  />

  <xacro:joint_template name="Joint2"
  type="revolute"
  xyz="0 0.134 0"
  rpy="1.5708 -1.5708 3.1416"
  parent_link="Link1"
  child_link="Link2"
  axis_xyz="0 0 1"
  lower="-3.14"
  upper="3.14"
  effort="100"
  velocity="1"
  />

  <xacro:link_template name="Link3"
  intertial_xyz="0.139148144215519 -6.87999984808206E-06 0.0888783999044399"
  intertial_rpy="0 0 0"
  mass_value="1.52858398755293"
  ixx="0.00207337440937713"
  ixy="-5.88009463390305E-07"
  ixz="2.38936156173591E-05"
  iyy="0.0061006269762059"
  iyz="3.44375753542566E-07"
  izz="0.00646696736900643"
  visual_xyz="0 0 0"
  visual_rpy="0 0 0"
  mesh_filename="package://model_config/meshes/Link3.STL"
  />

  <xacro:joint_template name="Joint3"
  type="revolute"
  xyz="0.425 0 0"
  rpy="3.1416 0 0"
  parent_link="Link2"
  child_link="Link3"
  axis_xyz="0 0 1"
  lower="-3.14"
  upper="3.14"
  effort="100"
  velocity="1"
  />

  <xacro:link_template name="Link4"
  intertial_xyz="-8.32234892130002E-06 0.00157877686994723 -0.00388134555762737"
  intertial_rpy="0 0 0"
  mass_value="0.300359691421369"
  ixx="0.000245139698341275"
  ixy="-7.26850730917096E-08"
  ixz="-2.01057423987851E-08"
  iyy="0.000255934527275935"
  iyz="-4.80810300910988E-07"
  izz="0.000230422587893387"
  visual_xyz="0 0 0"
  visual_rpy="0 0 0"
  mesh_filename="package://model_config/meshes/Link4.STL"
  />

  <xacro:joint_template name="Joint4"
  type="revolute"
  xyz="0.401 0 0"
  rpy="3.1416 0 1.5708"
  parent_link="Link3"
  child_link="Link4"
  axis_xyz="0 0 -1"
  lower="-3.14"
  upper="3.14"
  effort="100"
  velocity="1"
  />

  <xacro:link_template name="Link5"
  intertial_xyz="8.31659371565952E-06 -0.00157876424743546 -0.00388136457111554"
  intertial_rpy="0 0 0"
  mass_value="0.300359864221293"
  ixx="0.000245139234644353"
  ixy="-7.28561239566774E-08"
  ixz="2.03267826329419E-08"
  iyy="0.000255934227064357"
  iyz="4.8060068095637E-07"
  izz="0.00023042238037873"
  visual_xyz="0 0 0"
  visual_rpy="0 0 0"
  mesh_filename="package://model_config/meshes/Link5.STL"
  />

  <xacro:joint_template name="Joint5"
  type="revolute"
  xyz="0 0.086 0"
  rpy="-1.5708 0 0"
  parent_link="Link4"
  child_link="Link5"
  axis_xyz="0 0 -1"
  lower="-3.14"
  upper="3.14"
  effort="100"
  velocity="1"
  />
  
  <xacro:link_template name="Link6"
  intertial_xyz="0.000177242815501588 -0.000367648782456875 0.0539968712410375"
  intertial_rpy="0 0 0"
  mass_value="1.14519625385175"
  ixx="0.000921548528176975"
  ixy="-1.71472778864732E-08"
  ixz="-2.82009119703302E-07"
  iyy="0.00282722371935467"
  iyz="-1.59907159804116E-07"
  izz="0.00255998892680834"
  visual_xyz="0 0 0"
  visual_rpy="0 0 0"
  mesh_filename="package://model_config/meshes/Link6.STL"
  />

  <xacro:joint_template name="Joint6"
  type="revolute"
  xyz="0 -0.0725 0.00036545"
  rpy="1.5708 0 0"
  parent_link="Link5"
  child_link="Link6"
  axis_xyz="0 0 -1"
  lower="-3.14"
  upper="3.14"
  effort="100"
  velocity="1"
  />

<!-- 
  <xacro:link_template name="Link7"
  intertial_xyz="-0.0196885659012566 -3.74043091588838E-06 -0.0497629855935276"
  intertial_rpy="0 0 0"
  mass_value="0.0797234347218267"
  ixx="8.11927533946532E-05"
  ixy="1.68372715999088E-08"
  ixz="3.15416807408399E-05"
  iyy="0.000167326452772456"
  iyz="-7.55549771133905E-09"
  izz="9.41026785793423E-05"
  visual_xyz="0 0 0"
  visual_rpy="0 0 0"
  mesh_filename="package://model_config/meshes/Link7.STL"
  />

  <xacro:joint_template name="Joint7"
  type="prismatic"
  xyz="-0.099774 -0.00036545 0.2062"
  rpy="0 0 0"
  parent_link="Link6"
  child_link="Link7"
  axis_xyz="1 0 0"
  lower="0"
  upper="0.04"
  effort="100"
  velocity="0.04" 
  />
  
  <xacro:link_template name="Link8"
  intertial_xyz="0.019689 3.7404E-06 -0.049763"
  intertial_rpy="0 0 0"
  mass_value="0.079723"
  ixx="8.1193E-05"
  ixy="1.6837E-08"
  ixz="-3.1542E-05"
  iyy="0.00016733"
  iyz="7.5555E-09"
  izz="9.4103E-05"
  visual_xyz="0 0 0"
  visual_rpy="0 0 0"
  mesh_filename="package://model_config/meshes/Link8.STL"
  />
  
  <xacro:joint_template name="Joint8"
  type="prismatic"
  xyz="0.099774 -0.00036545 0.2062"
  rpy="0 0 0"
  parent_link="Link6"
  child_link="Link8"
  axis_xyz="1 0 0"
  lower="-0.04"
  upper="0"
  effort="100"
  velocity="0.04" 
  /> -->
</robot>